section{
    width: 90%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.cards{
    padding: 5px;
    padding-bottom: 10px;
    width: 200px;
    margin-bottom: 12px;
    border-radius: 20px;
    border: 0.5px solid grey;
}
.cards:hover{
    /* box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1); */
    cursor: pointer;
}
.image_box img{
    width: 120px;
    height: 140px;
    margin-left: 25%;
}
.details p:nth-child(1){
    font-weight: bold;
    margin-left: 10px;
}
.details p:nth-child(2){
    color: grey;
    margin-left: 10px;
    font-size: 0.8rem;
}
.details p:nth-child(3){
    font-weight: bold;
    margin-left: 10px;
    color: grey;
}
.details button{
    padding: 5px 10px;
    border: 1px solid #318616;
    /* font-weight: bold; */
    background-color: white;
    color: #318616;
    outline: none;
    border-radius: 10px;
    margin-left: 50%;
}