.footer {
  background-color: #f4f4f4;
  margin-top: 100px;
  /* position: relative; */
  /* top: -180px; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  width: 20%;
}

.footer-col h4 {
  color: #333;
  margin-bottom: 20px;
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}
.end {
  padding: 20px;
  margin: 40px;
  text-align: left;
  color: #666666;
  /* position: relative; */
  /* top: -180px; */
}
