.categories {
  display: flex;
  flex-wrap: wrap;
}

.category-container {
  margin-right: 20px;
}
.category-container h1{
    text-align: left;
}

.category {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 10px;
  gap: 15px;
  overflow-y: auto;
  max-width: 1400px;
}
