.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 100px;  */
}
.section-1, .section-1 img {
    /* width: 235%; */
    /* position: relative; */
    /* top: -20px; */
    width: 1250px;
    /* height: 300px; */
    border-radius: 8px;
    /* margin-bottom: 20px; */
}
.section-2 {
    /* position: relative; */
    /* top: -100px; */
    margin-left: 160px;
    margin-right: 160px;
    /* margin: 0 16px; */
    display: flex;
    overflow: auto scroll;
    gap: 20px;
    border-radius: 12px;
}
.section-2-img {
    height: 195px;
    width: 335.4px;
    cursor: pointer;
    display: flex;
}
.section-3 {
    /* position: relative; */
    /* top: -100px; */
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
}
.section-3-img {
    width: 128px;
}
.section-3-img img {
    width: 100%;
}
.section-4 {
    margin: 16px;
}
